* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.rounded-div {
  width: 200px;
  height: 200px;
  background-color: red;
  border-radius: 50%;
}

.rounded-div:hover {
  background-color: blue;
  transition: 0.3s;
}

.square-container {
  width: 150px;
  height: 150px;
  border: 1px solid black;
}

.square-container .first-img {
  width: 100%;
  height: auto;
}

.square-container2 {
  width: 150px;
  height: 150px;
  border: 1px solid black;
}

.square-container2 .second-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

header {
  background-color: red;
  color: lightcoral;
  padding: 10px;
  margin-top: 30px;
}

main {
  background-color: green;
  color: lightgreen;
}

footer {
  background-color: aqua;
  color: lightblue;
  padding: 10px;
}

.card {
  border: 1px solid black;
  width: 200px;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
  box-shadow: 2px 2px 5px black;
}

.card button {
  width: 75px;
  cursor: pointer;
}

ul {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: rgb(248, 192, 192);
}

nav a:hover {
  color: white;
}

.section-hero {
  height: 100dvh;
  background-color: pink;
  display: flex;
  justify-content: center;
  text-align: center;
}

button {
  height: 50px;
  width: 150px;
  cursor: pointer;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.plate-red {
  background-color: red;
  width: 100px;
  height: 100px;
}

.plate-yellow {
  background-color: yellow;
  width: 100px;
  height: 100px;
}

.plate-green {
  background-color: green;
  width: 100px;
  height: 100px;
}

.plate-blue {
  background-color: blue;
  width: 100px;
  height: 100px;
}

.plate-orange {
  background-color: orange;
  width: 100px;
  height: 100px;
}

.plate-pink {
  background-color: pink;
  width: 100px;
  height: 100px;
}

.card-grid {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card {
  width: 200px;
  height: 200px;
  text-align: center;
  border: 1px solid black;
}

.card.premium {
  padding: 20px;
  border: 1px solid gold;
  box-shadow: 2px 2px 5px gold;
}

.basic {
  padding: 20px;
}

.card.standard {
  border: 1px solid red;
  box-shadow: 2px 2px 5px red;
}

@media (max-width: 600px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
  /* .card-grid {
    flex-direction: column;
  } */
}

.card-title {
  margin-top: 10px;
}
