* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  margin: 20px auto;
  gap: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

button a {
  text-decoration: none;
  font-weight: 100;
}

a {
  color: black;
  font-weight: bold;
}

section {
  margin-top: 5%;
}

section#about {
  /* align-items: center; */
  text-align: center;
}

#about button {
  width: 100px;
  display: block;
  margin: 0 auto;
}

.avatar-img {
  border-radius: 50%;
  object-fit: cover;
  width: 250px;
  height: 250px;
  margin-bottom: 10px;
}

#skills h2 {
  text-align: center;
}

#projects h2 {
  text-align: center;
}

.card-grid {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 30px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: gray;
  width: 250px;
  height: 250px;
  text-align: center;
}

.card-info {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card-info p {
  margin-top: 10px;
}

.card-info a {
  margin-bottom: 10px;
  margin-top: auto;
  display: inline-block;
}

.card.css {
  color: rgb(3, 155, 229);
}

.card.javascript {
  color: rgb(255, 255, 0);
}

.card.git {
  color: rgb(13, 17, 23);
}

.card.html5 {
  color: rgb(229, 76, 33);
}

.card-image {
  width: 100%;
  height: 180px;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card.project {
  background-color: white;
  height: 350px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card-info a:hover {
  transition: 0.3s;
  color: rgb(153, 153, 153);
}
